*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(0, 0, 0, 0.874);
}

.container{
  display:flex;
  width: 100vw;
  height: 100vh;
}

.left{
  display: flex;
  flex: 1.5;
  background-color: rgb(223, 206, 111);
  clip-path: polygon(0 0 ,90% 0, 80% 100%,0%100%);
  align-items: center;
  background: linear-gradient(135deg,#f9d423,#c9bc47);
}
.right{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.my_image{
  width: 450px;
  margin-top: 40px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  margin-right: 200px;
}


p{
  font-weight: 300;
  text-align: center;
  width: 250px;
  color: rgba(0, 0, 0, 0.827);
  margin: 0 auto;
  letter-spacing: 2px;
  line-height: 23px;
}

h1{
  text-align: center;
  font-weight: 900;
  margin-left: 70px;
  width: 150px;
  margin-bottom: 30px;
  color:rgb(19, 25, 25);
}

h3{
  width: 130px;
  margin-left:10px;
  margin-bottom: 20px;
}

.text{
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 30px;
  margin-left: 200px;
  box-shadow: 0px 4px 20px rgb(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  color: #111;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.text:hover{
  transform: scale(1.03);
}

.contact-me{
  position: absolute;
  display: flex;
  gap: 60px;
  left:260px;
  top: 600px;
  border-radius: 10px;
  padding: 4px;
}

a{
  text-decoration: none;
}
.linkedin{
  transition: transform 0.3s ease;
}
.linkedin:hover{
  transform: scale(1.2);
}
.github{
  transition: transform 0.3s ease;
}
.github:hover{
  transform: scale(1.2);
}
.instagram{
  transition: transform 0.3s ease;
}
.instagram:hover{
  transform: scale(1.2);
}

.about-me{
  display: flex;
  gap: 80px;
  position: absolute;
  right: 100px;
  top: 40px;
  width: 400px;
  height: 50px;
  align-items: center;
}

a{
  color: gray;
  font-size: larger;
}
.contact{
  
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  background-color: gray;
  color: #111;
}

.name{
  position: absolute;
  top: 50px;
  left: 80px;
  font-size:larger;
}

.about{
  transition: transform 0.3s ease;
}
.about:hover{
  transform: scale(1.2);
}
.Skills{
  transition: transform 0.3s ease;
}
.Skills:hover{
  transform: scale(1.2);
}
.contact{
  transition: transform 0.3s ease;
}
.contact:hover{
  transform: scale(1.2);
}

span{
  color: rgb(234, 236, 232);
}